$main_blue: #2E66B0;
$main_red: #E93E44;
$main_black: #1B1C29;
$main_shadow: #E8E8E8;
$main_peach: #F7C296;
$main_yellow: #F2EEAC;
$main_white: #F2F2F2;
$main_gray: rgba(191,191,191,0.48);
$main_green: #8AA6A3;
$text_shadow: #A5A692;
